APP_URL="MY_APP_URL"
# API Key
SUI_API_KEY=3Eu2GMoMILJMRUmPns0vqPCdcMj
# RPC Endpoint
SUI_RPC_ENDPOINT=https://sui-testnet.blockvision.org/v1/3Eu2GMoMILJMRUmPns0vqPCdcMj
# gRPC Endpoint
SUI_GRPC_ENDPOINT=sui-testnet-grpc.blockvision.org:443
# gRPC-Web Endpoint
SUI_GRPC_WEB_ENDPOINT=https://sui-testnet-grpc-web.blockvision.org
